/*
 selector {
 property: value;
 }
   */

html {
  background-color: #222
  }

body {
  background-image: url ("lib.store.yahoo.net/lib/yhst-37542584897213/more-hmm-eames-plastic-arm-colors02.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  font-family: Californian FB, Times, serif;
  color: #888;
  width: 800px;
  margin: 0 auto;
}
#head1 {
  font-family: Bittersweet NF, Andalus, sans-serif;
  font-size:500%;
}
#intro {
  font-size: 200%;
  color: #268;
}
#about {
  float:left;
  width:390px;
}
#navigation {
  float:right;
  width:390px;
}
